* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  /* COLOUR VARIABLES */
  :root {
    --mustard: #f6a916;
    --ketchup: #851d11;
    --gray-light: #eef1f3;
    --bar-size: 10px;
    --bar-radius: 60px;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url("../images/castle-background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  /* ====================== LOADING SCREEN & BUTTONS  ====================== */

/* LOADING CONTAINER */
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000000;
  }
  
  .loading-text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    max-width: 40rem;
    margin-bottom: 10rem;
  }
  
  .loading-text-img {
    width: 100%;
  }
  
  .loading-progress-bar {
    background: var(--ketchup);
    border-radius: var(--bar-radius);
    overflow: hidden;
    width: 80%;
  }
  
  .loading-bar {
    animation: loader 8s ease forwards;
    background: var(--mustard);
    padding: var(--bar-size);
    width: 0;
  }

  /* ANIMATION */
@keyframes loader {
    0% {
      width: 0;
    }
    20% {
      width: 10%;
    }
    25% {
      width: 24%;
    }
    43% {
      width: 41%;
    }
    56% {
      width: 50%;
    }
    66% {
      width: 52%;
    }
    71% {
      width: 60%;
    }
    75% {
      width: 76%;
    }
    94% {
      width: 86%;
    }
    100% {
      width: 100%;
    }
  }

  .button-container {
    text-align: center; /* Centers the child element horizontally */
    position: absolute;
  }
  .start-button {
    width: 150px;
    height: 70px;
    background: url("../images/kingdom-snap-press-start.png") no-repeat; /* Set the image as the background */
    background-size: cover;
    cursor: pointer;
    margin: auto;
    margin-top: 10em;
  }
  
  .hidden {
    opacity: 0;
    pointer-events: none;
  }
  
  .fade-in {
    opacity: 1;
    transition: opacity 2s ease;
  }

  /* ====================== STARTSCREEN & BUTTONS  ====================== */
.start-screen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .game-logo {
    max-width: 100%;
    max-height: 100%;
  }